<h2 mat-dialog-title>Add new user</h2>
<mat-dialog-content class="mat-typography">
  <form class="user" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Enter name</mat-label>
      <input
        matInput
        placeholder="John"
        required
        type="text"
        formControlName="name"
      />
      <mat-error *ngIf="f.get('name')?.invalid">
        You must enter a value
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter surname</mat-label>
      <input
        matInput
        placeholder="Deep"
        required
        type="text"
        formControlName="surname"
      />
      <mat-error *ngIf="f.get('surname')?.invalid">
        You must enter a value
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter username</mat-label>
      <input
        matInput
        placeholder="j.deep"
        required
        type="text"
        formControlName="username"
      />
      <mat-error *ngIf="f.get('username')?.invalid">
        You must enter a value
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        required
        type="email"
        formControlName="email"
      />
      <mat-error *ngIf="f.get('email')?.invalid">{{
        getEmailErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <div class="user__actions">
      <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
      <button mat-button color="primary" cdkFocusInitial>Save</button>
    </div>
  </form>
</mat-dialog-content>
