@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tm-container {
  @apply flex flex-col min-h-screen;

  & header,
  footer {
    @apply flex-shrink-0;
  }

  & main {
    @apply flex-grow;
  }
}

html,
body {
  @apply bg-blue-50;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
